[Unit]
Description=tree-eclass
After=network.target

[Service]
User=basil
WorkingDirectory=/home/basil/tree-eclass/prod
ExecStart=/usr/bin/java -jar tree-eclass.jar
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tree-eclass

[Install]
WantedBy=multi-user.target